extends ../layout/admin.pug

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contain
  .p-10
    h1.text-4xl.my-10.font-extrabold.text-center
      | Real
      span.font-normal.text-black.ml-1
        | State

  .mt-8.mx-auto.max-w-3xl.p-4.bg-gray-100.rounded-lg.shadow-lg
    h2.text-2xl.font-extrabold.text-center.mb-4
      | #{page}

    if errors
      .max-w-md.mx-auto.my-10
        each error in errors
          p.bg-red-700.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-blod= error.msg

    .grid.grid-cols-1.gap-4
      div
        h2.text-lg.font-semibold.text-gray-700
          | General Information
        p.text-gray-500
          | Add information about your property

      .w-full 
        form(method="POST")
          div.mb-4.my-3
            label.block.text-sm.text-gray-500(for="title") Title
            input.w-full.border.border-gray-300.rounded-md.px-3.py-2(type="text", name="title", id="title", placeholder="Example: Beach House", autocomplete="off" value=data.title ? data.title : '') 

          div.mb-4
            label.block.text-sm.text-gray-500(for="description") Description
            textarea.w-full.border.border-gray-300.rounded-md.px-3.py-2(type="text", name="description", id="description", placeholder="Add a description about your propertie", autocomplete="off")= data.description ? data.description : ''

          div(class="mb-4 grid grid-cols-1 md:grid-cols-2 gap-4")
            div(class="md:col-span-1")
              label.block.text-sm.text-gray-500(for="category") Category
              select.w-full.border.border-gray-300.rounded-md.px-3.py-2(name="category", id="category", autocomplete="off")
                option(value="") - Select -
                each category in categories 
                  option(value=category.id selected= data.categoryId ? data.categoryId == category.id ? true : false : data.category ? data.category == category.id ? true : false : null)= category.category 

            div(class="md:col-span-1")
              label.block.text-sm.text-gray-500(for="price") Price
              select.w-full.border.border-gray-300.rounded-md.px-3.py-2(name="price", id="price", autocomplete="off")
                option(value="") - Select -
                each price in prices 
                  option(value=price.id selected= data.priceId ? data.priceId == price.id ? true : false : data.price ? data.price == price.id ? true : false : null )= price.price 
          
          div(class="mb-4 grid grid-cols-1 md:grid-cols-3 gap-4")
            div(class="md:col-span-1")
              label.block.text-sm.text-gray-500(for="rooms") Rooms
              select.w-full.border.border-gray-300.rounded-md.px-3.py-2(name="rooms", id="rooms", autocomplete="off")
                option(value="") - Select -
                - let numberRooms = 1
                while numberRooms<8
                  option(value=numberRoom selected= data.rooms ? data.rooms == numberRooms ? true : false : null ) #{numberRooms++}
                  
            div.col-span-1
              label.block.text-sm.text-gray-500(for="parking") Paking
              select.w-full.border.border-gray-300.rounded-md.px-3.py-2(name="parking", id="parking", autocomplete="off")
                option(value="") - Select -
                - let numberParking = 0
                while numberParking < 6
                  option(value=numberParking selected= data.parking ? data.parking == numberParking ? true : false : null ) #{numberParking++} 
                
            div.col-span-1
              label.block.text-sm.text-gray-500(for="bathrooms") Bathrooms
              select.w-full.border.border-gray-300.rounded-md.px-3.py-2(name="bathrooms", id="bathrooms", autocomplete="off")
                option(value="") - Select -
                - let numberBathrooms   = 1
                while numberBathrooms<6
                  option(value=numberBathrooms selected= data.bathrooms ? data.bathrooms == numberBathrooms ? true : false : null ) #{numberBathrooms ++}
          

          div
            h2.text-lg.font-semibold.text-gray-700
              | Location
            p.text-gray-500
              | Select location in the map
            #map.h-96
            p.showAddress= data.street ? data.street : data.addressData ? data.addressData : ''
            input(type="hidden", id="addressData" name="addressData" value= data.street ? data.street : data.addressData ? data.addressData : null )
            input(type="hidden", id="latData" name="latData" value= data.latitude ? data.latitude : data.addressData ? data.latData : null )
            input(type="hidden", id="lngData" name="lngData" value= data.longitude ? data.longitude : data.addressData ? data.lngData : null )
          
          input(type="submit" value="Update Information" class="block w-full bg-green-500 hover:bg-blue-700 text-white font-bold my-5 py-3 px-4 rounded")

block scripts 
  script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
  script(src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js")
  script(src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/2.7.0/bundle.min.js")
  script(src="/js/map.js")

